<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{stylesheetPath}}">
        <link rel="stylesheet" href="{{bulma}}">
        <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
        <title></title>
    </head>
    <body>
    {{{body}}}
        <script type="module" src="/socket.io/socket.io.js"></script>
        <script type="module" src="{{scriptPath}}"></script>
    </body>
</html>